<div class="col-md-1"></div>
<div class="container col-md-8 col-md-offset-2 w3-responsive">
  <h3><%= @definition[@entity][:name].pluralize %></h3>
  <br/>
  <table class="container w3-table table-bordered w3-table-all table-striped table-condensed">
    <thead>
    <tr class="w3-blue">
      <th scope="col">#</th>
      <th scope="col"><%= @definition[@entity][:name] %></th>
    
      <th colspan="3" scope="col"></th>
    </tr>
    </thead>

    <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= entity.id %></td>
        <td>
          <%= Mustache.render(@definition[@entity][:detail][:title], @entity => entity.data ) %>
          <% if @definition[@entity][:detail][:subtitle].present? %>
            <br>
            <%= Mustache.render(@definition[@entity][:detail][:subtitle], @entity => entity.data ) %>
          <% end %>
        </td>
        
        <td>&nbsp;</td>
        <td><%= link_to 'Show', entity_path(id: entity.id, entity: @entity), class: 'btn btn-outline-info' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br/>
  

</div>
<div class="col-md-2"></div>